<div class="container">
	<div class="accordion-option">
		<h3 class="title">Preguntas frecuentes (FAQs)</h3>
		<a href="javascript:void(0)" accordion-id="#accordion" class="toggle-accordion active"></a>
	</div>
	<div class="clearfix"></div>
	<div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
		<div class="panel panel-default">
			<div role="tab" id="headingOne" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						¿Qué es el Fondo de Recuperación Europeo?
					</a>
				</h4>
			</div>
			<div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Es el instrumento mediante el cual se pretende garantizar la
						recuperación económica y social de los Estados Miembros de la
						Unión Europea tras el impacto de la COVID-19, con la puesta a
						disposición de fondos, en forma de préstamos o transferencias no
						reembolsables a las empresas.</p>
					<p class="faqs_text">Concretamente España accederá a 140.000 millones de euros, de los cuales 68.000
						millones serán préstamos y el resto transferencias no reembolsables, que se distribuirán
						mediante tres mecanismos:<br>
						</p><ol type="i" start="1">
							<li class="faqs_text">Subvenciones.</li>
							<li class="faqs_text">Proyectos Estratégicos para la Recuperación y Transformación económica
								(PERTE).</li>
							<li class="faqs_text">Contratos.</li>
						</ol>
					<p></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingTwo" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
						¿A qué tipos de ayudas del Fondo de Recuperación Europeo puedo
						optar?
					</a>
				</h4>
			</div>
			<div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Existen dos planes principales que servirán de base para garantizar el reparto de las ayudas que
						conforman el fondo global <u>NextGeneration UE:</u></p>
					<ol type="i" start="1">
						<li class="faqs_text"><u>Mecanismo de Recuperación y Resiliencia (MRR):</u> Destinados a gastos no recurrentes de
							la empresa a largo plazo, no servirán para financiar problemas de liquidez
							de las empresas y vinculados a:</li>
						<ol type="i" start="1">
							<li class="faqs_text">Ayudas a inversiones en capital natural.</li>
							<li class="faqs_text">Ayudas a las inversiones en capital fijo.</li>
							<li class="faqs_text">Ayudas a inversiones en capital humano.</li>
						</ol>
						<li class="faqs_text"><u>Asistencia para la Recuperación de la Cohesión y los Territorios de Europa (REACT-EU):
							</u>A diferencia del anterior, este plan si está diseñado para ayudar
							a la recuperación financiera de las empresas a corto plazo; enfocado en los problemas
							económicos a los que se han enfrentado y se enfrentan las compañías debido a la
							pandemia, reforzando su solvencia y liquidez.</li>
					</ol>
					<p class="faqs_text">Además de estos dos planes principales, existen otras ayudas de menor cuantía:
						InvestEU, Fondos de Transición Justa, Desarrollo Rural, RescEU y Horizonte Europa.
						Desde PwC podemos ayudarte a identificar qué tipo de ayudas de manera específica puedes
						solicitar.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingThree" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapsed">
						¿En qué consisten las ayudas?
					</a>
				</h4>
			</div>
			<div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Los Ministerios y las Comunidades Autónomas, (y las Administraciones Locales en
						algunos supuestos), gestionarán los Fondos Europeos con
						el objetivo de canalizar y coordinar su distribución mediante las oportunas invitaciones a
						manifestaciones de interés.
						Las pequeñas y medianas empresas y las startups son las principales beneficiarias de estas
						ayudas.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingFour" class="panel-heading">
				<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="collapsed">
						¿Qué son los PERTE?
					</a>
				</h4>
			</div>
			<div id="collapseFour" role="tabpanel" aria-labelledby="headingFour" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">En el Real Decreto-ley 36/2020 de 20 de diciembre se establecen
						los Proyectos Estratégicos para la Recuperación y Transformación Económica como
						nuevos instrumentos de colaboración público-privada.</p>
					<p class="faqs_text">Nacen con vocación de permanencia para reforzar proyectos de inversión estratégicos de
						interés tanto nacional como europeo y cuyo desarrollo fomente de manera directa el
						crecimiento de la economía, del empleo y de la competitividad de nuestro País.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingFive" class="panel-heading">
				<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class="collapsed">
						Los ejes de transformación del Fondo de Recuperación Europeo
					</a>
				</h4>
			</div>
			<div id="collapseFive" role="tabpanel" aria-labelledby="headingFive" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">En nuestro País, dentro del marco del Plan de Recuperación y Resiliencia, llamado
						“España Puede”,
						se han determinado cuatro ejes claves sobre los que se va a apoyar el MRR, pues se trata
						del plan más importante y mejor dotado económicamente de los que componen el Fondo de
						Recuperación
						Europeo:</p>
					<ol type="i" start="1">
						<li class="faqs_text"><u>Transición ecológica:</u> Proyectos que impulsen un modelo económico más verde,
							con inversiones en estructuras para la eficiencia energética de las empresas,
							las energías renovables, la movilidad sostenible o la rehabilitación de viviendas. </li>
						<li class="faqs_text"><u>Transición digital:</u> La innovación tecnológica como impulsor de la actividad
							económica,
							centrado en el impulso del 5G,
							el Plan de Conectividad, la Estrategia Nacional de Inteligencia Artificial, el Plan Nacional
							de
							Competencias Digitales,
							el Plan España Hub Audiovisual de Europa, el Plan de Digitalización de las Administraciones
							Públicas y el Plan de Digitalización de las PYMEs. </li>
						<li class="faqs_text"><u> Cohesión social y territorial:</u> Programas que refuercen el sistema sanitario,
							educativo,
							los servicios públicos y todos aquellos proyectos que estén enfocados a mejorar el Estado de
							bienestar. </li>
						<li class="faqs_text"><u> Igualdad de género:</u> Ayudas que impulsen la igualdad entre hombres y mujeres tanto en
							relación a su formación,
							a la incorporación al mercado laboral, en el deporte o en cualquier otro ámbito donde pueda
							existir una posible discriminación. </li>
					</ol>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingSix" class="panel-heading">
				<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="collapsed">
						¿Cuáles son los proyectos con más opciones a subvenciones?
					</a>
				</h4>
			</div>
			<div id="collapseSix" role="tabpanel" aria-labelledby="headingSix" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Dentro del programa “España Puede”, se han determinado 20 programas tractores de
						inversión que se articulan dentro de los cuatro sectores claves con los que se confía que
						aceleren
						la recuperación:</p>
					<table class="pwc-table">
						<thead>
							<tr>
								<th colspan="2" class="faqs_text-table--center">Sectores Clave</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="faqs_text-table--center">Transición ecológica</td>
								<td class="faqs_text-table--center">Transición digital</td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Cohesión social y territorial
								</td>
								<td class="faqs_text-table--center">Igualdad de género</td>
							</tr>
						</tbody>
					</table><br>
					<center><span class="glyphicon glyphicon-arrow-down" style="font-size: 35px;"></span></center>
					<table class="pwc-table">
						<thead>
							<tr>
								<th colspan="2" class="faqs_text-table--center">Programas tractores </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="faqs_text-table--center">Estrategia de Movilidad Sostenible, Segura y Conectada
								</td>
								<td class="faqs_text-table--center">Nueva Economía de los Cuidados </td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Programa de Rehabilitación de Vivienda y Regeneración Urbana
								</td>
								<td class="faqs_text-table--center">Nuevas Políticas Públicas para un Mercado de Trabajo
									Dinámico,
									Resiliente e Inclusivo</td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Programa de Rehabilitación de Vivienda y Regeneración Urbana
								</td>
								<td class="faqs_text-table--center">Preservación del Litoral y Recursos Hídricos </td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Plan de Digitalización de PYMEs
								</td>
								<td class="faqs_text-table--center">Plan Estratégico de Formación Profesional </td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Hoja de Ruta del 5G
								</td>
								<td class="faqs_text-table--center">Modernización y Digitalización del Sistema Educativo </td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Nueva Política Industrial España 2030 y Estrategia de Economía Circular.
								</td>
								<td class="faqs_text-table--center">Conservación y restauración de ecosistemas y biodiversidad
								</td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Plan Nacional de Competencias Digitales
								</td>
								<td class="faqs_text-table--center">Hoja de Ruta del Hidrógeno Renovable </td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Modernización y Competitividad del Sector Turístico
								</td>
								<td class="faqs_text-table--center">Infraestructuras Eléctricas, Redes Inteligentes,
									Almacenamiento
								</td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Desarrollo del Sistema Nacional de Ciencias e Innovación
								</td>
								<td class="faqs_text-table--center">Renovación y Modernización del Sistema Sanitario</td>
							</tr>
							<tr>
								<td class="faqs_text-table--center">
									Despliegue e integración de energías renovables
								</td>
								<td class="faqs_text-table--center">Estrategia Nacional de Inteligencia Artificial </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingSeven" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="collapsed">
						¿Qué proyectos pueden ser beneficiarios de las ayudas del Fondo de Recuperación Europeo?
					</a>
				</h4>
			</div>
			<div id="collapseSeven" role="tabpanel" aria-labelledby="headingSeven" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Podrán optar a cualquier subvención o ayuda, sin necesidad de que se
						desarrolle un tipo de actividad en concreto, todos aquellos proyectos que demuestren su
						viabilidad e impacto en la economía española adecuándose a los requisitos y plazos de
						cada convocatoria.</p>
					<p class="faqs_text">Ser beneficiario de una subvención o ayuda se encuentra vinculado al cumplimiento de
						los objetivos del plan del Fondo de Recuperación Europeo siempre que se contribuya o
						fomente cualquiera de los ámbitos que el Plan España Puede recoja, incluso aquellos
						compartidos con otros Estados Miembros.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingEight" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight" class="collapsed">
						¿Quién puede solicitar estas ayudas?
					</a>
				</h4>
			</div>
			<div id="collapseEight" role="tabpanel" aria-labelledby="headingEight" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Cualquier tipo de empresa (especialmente PYMEs), autónomos, así como persona física
						puede acceder a dichas ayudas; también podrán ser beneficiarias de las ayudas las
						Comunidades de Propietarios, ONGs y asociaciones.</p>
					<p class="faqs_text">Desde PwC podemos asesorarte y acompañarte en todo el proceso de identificación y
						tramitación de tu subvención.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingNine" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" class="collapsed">
						¿Cuándo se realizará el pago de las ayudas?
					</a>
				</h4>
			</div>
			<div id="collapseNine" role="tabpanel" aria-labelledby="headingNine" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">Se establece que el 70 % de la asignación se hará efectiva antes del 31 de
						diciembre
						de 2022 y el 30 % restante a lo largo del año 2023. La fecha límite para hacer efectivos
						los pagos (contribución financiera y préstamos) será el 31 de diciembre de 2026, dependiendo
						todo
						ello de lo estipulado en cada convocatoria.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingTen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen" class="collapsed">
						¿Cuál es el impacto fiscal de ser beneficario de una ayuda que dimana de los Fondos de
						Recuperación Europeos?
					</a>
				</h4>
			</div>
			<div id="collapseTen" role="tabpanel" aria-labelledby="headingTen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Actualmente no se prevé ningún tipo de exención tributaria para estas ayudas, por lo que, por
						norma general,
						tributan en el Impuesto de Sociedades como subvenciones corrientes, esto es, al tipo que le
						corresponda (el tipo general es el 25%),
						siendo el computo fiscal el momento en el que se produzca el ingreso correspondiente.
						Las deducciones que se recogen en el Impuesto de Sociedades por la realización de determinadas
						actividades también se tendrán en cuenta.
					</p>
				</div>
			</div>
		</div>
	</div>
<br><br>
	<div class="accordion-option">
		<h3 class="title">Aún no estás registrado y/o no he contratado ningún servicio:</h3>
	</div>
	<div class="clearfix"></div>
	<div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
		<div class="panel panel-default">
			<div role="tab" id="headingTwelve" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve" class="collapsed">
						¿Qué tipo de servicios se ofrecen?
					</a>
				</h4>
			</div>
			<div id="collapseTwelve" role="tabpanel" aria-labelledby="headingTwelve" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						En PwC nuestros servicios son modulables y nos adaptamos a ti, por ello, podemos encargarnos de:
					</p>
					<ul>
						<li class="faqs_text">Identificar y validar las ayudas a las que puedes optar.</li>
						<li class="faqs_text">Analizar tu nivel de elegibilidad sobre la convocatoria.</li>
						<li class="faqs_text">Recopilar la documentación necesaria para solicitar la ayuda.</li>
						<li class="faqs_text">Elaborar la memoria técnica de tu proyecto.</li>
						<li class="faqs_text">Realizar todas las gestiones ante la Administración Pública por ti.</li>
						<li class="faqs_text">Hacer seguimiento del estado de la ayuda.</li>
						<li class="faqs_text">Apoyarte en la justificación de la misma hasta su cobro. </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingEleven" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven" class="collapsed">
						¿Cómo puedo contratar un servicio?
					</a>
				</h4>
			</div>
			<div id="collapseEleven" role="tabpanel" aria-labelledby="headingEleven" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						En el apartado de “Mis solicitudes”, haciendo click
						en “Crear” podrás seleccionar un servicio; tras esto, un asesor se pondrá en contacto
						contigo y te ofrecerá el servicio que mejor se adapte a tus necesidades.
						Desde el propio portal podrás contratar el servicio en tres simples pasos: aceptar el
						presupuesto del servicio, aceptar las condiciones de la contratación y escoger el modelo
						de pago que más te convenga. </p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingTwentyTwo" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo" aria-expanded="true" aria-controls="collapseTwentyTwo" class="collapsed">
						Ya he contratado un servicio, ¿qué debo hacer ahora? 
					</a>
				</h4>
			</div>
			<div id="collapseTwentyTwo" role="tabpanel" aria-labelledby="headingTwentyTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Entre 24 y 48 horas tu asesor
						personalizado se pondrá en contacto contigo y te explicará detalladamente los siguientes
						pasos a seguir. Además, recibirás una notificación con tu presupuesto personalizado y el
						servicio contratado.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingThirteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen" class="collapsed">
						¿Cuál será el coste aproximado de los servicios?
					</a>
				</h4>
			</div>
			<div id="collapseThirteen" role="tabpanel" aria-labelledby="headingThirteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Las condiciones económicas dependerán del servicio que desees si bien nuestras tarifas son
						cerradas
						por lo que en todo momento conocerás el precio de lo que contratas.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingTwentyThree" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree" aria-expanded="true" aria-controls="collapseTwentyThree" class="collapsed">
						¿En cuánto tiempo recibiré el presupuesto del servicio que deseo contratar?
					</a>
				</h4>
			</div>
			<div id="collapseTwentyThree" role="tabpanel" aria-labelledby="headingTwentyThree" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						De 24
						a 72 horas tendrás a tu disposición un presupuesto elaborado a tu medida.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div role="tab" id="headingFourteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen" class="collapsed">
						¿Qué formas de pago ofrecéis?
					</a>
				</h4>
			</div>
			<div id="collapseFourteen" role="tabpanel" aria-labelledby="headingFourteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Puedes realizar tus pagos mediante tarjeta de crédito o transferencia bancaria junto con la
						contratación
						del servicio correspondiente.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingFifteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen" class="collapsed">
						¿Cómo sé qué servicio debo contratar?
					</a>
				</h4>
			</div>
			<div id="collapseFifteen" role="tabpanel" aria-labelledby="headingFifteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Si no tienes claro qué servicio deseas, puedes hacer <a href="#moduloLlamada">click aquí</a> y
						un asesor se pondrá en contacto contigo
						en un máximo de 48 horas para ayudarte a elegir el servicio más acorde a tus necesidades.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingSixteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen" class="collapsed">
						¿Se puede tramitar más de una subvención dentro del mismo plan contratado?
					</a>
				</h4>
			</div>
			<div id="collapseSixteen" role="tabpanel" aria-labelledby="headingSixteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						No siempre es posible tramitar más de una subvención en paralelo por lo que realizaremos un
						presupuesto
						a medida según sus necesidades.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingSeventeen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="true" aria-controls="collapseFoureen" class="collapsed">
						¿Cuál es el importe máximo de la ayuda que se me va a conceder?
					</a>
				</h4>
			</div>
			<div id="collapseSeventeen" role="tabpanel" aria-labelledby="headingSeventeen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Dependerá de la ayuda que se solicite, en algunas ayudas se suele subvencionar hasta el 75% del
						coste
						del proyecto o puede tratarse de un importe fijo que viene determinado en la propia
						convocatoria.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingEighteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="true" aria-controls="collapseFoureen" class="collapsed">
						¿Cuál es el plazo estimado para la resolución y cobro de la ayuda?
					</a>
				</h4>
			</div>
			<div id="collapseEighteen" role="tabpanel" aria-labelledby="headingEighteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						No existe un plazo único para todas las convocatorias porque está sujeto a las bases que se
						hayan dispuesto
						para la ayuda que se solicita.</p>

					<p class="faqs_text">
						El Real Decreto-ley 36/2020, de 30 de diciembre, por el que se aprueban medidas urgentes para la
						modernización
						de la Administración Pública y para la ejecución del Plan de Recuperación, Transformación y
						Resiliencia,
						recoge expresamente la necesidad de reducir los plazos en la tramitación y resolución de las
						ayudas por parte de
						la Administración Pública, que tiende a ser de alrededor de 6 meses, si bien el cobro de las
						ayudas puede alargarse
						hasta años dependiendo de la complejidad del cumplimiento de las bases de la convocatoria.</p>
				</div>
			</div>
		</div>
	</div>

<br><br>
	<div class="accordion-option">
		<h3 class="title">Tengo un servicio contratado con PwC pero tengo dudas:</h3>
	</div>
	<div class="clearfix"></div>
	<div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
		<div class="panel panel-default">
			<div role="tab" id="headingNineteen" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen" class="collapsed">
						¿Dónde puedo dirigirme si quiero realizar una consulta sobre mi expediente?
					</a>
				</h4>
			</div>
			<div id="collapseNineteen" role="tabpanel" aria-labelledby="headingNineteen" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Una vez que hayas iniciado sesión, en el apartado “Mis solicitudes” podrás ver el estado de tus
						peticiones
						y en el caso de que te surjan dudas puedes hacer <a href="#moduloLlamada">click aquí</a> y
						dejarnos
						tus datos para que tu asesor personalizado
						se ponga en contacto contigo.</p>
					<p class="faqs_text">
						Si lo deseas, también puedes llamarnos directamente al (TBD) de Lunes a Viernes de
						09.00h a 18.00h.
					</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingTwenty" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="true" aria-controls="collapseTwenty" class="collapsed">
						¿Quién tiene que presentar la ayuda ante la Administración y firmar electrónicamente?
					</a>
				</h4>
			</div>
			<div id="collapseTwenty" role="tabpanel" aria-labelledby="headingTwenty" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Si has contratado nuestro servicio de tramitación, PwC realizará la
						presentación en tu nombre. Tras la firma de las Condiciones generales de contratación,
						podremos realizar todos los trámites por ti.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div role="tab" id="headingTwentyOne" class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne" aria-expanded="true" aria-controls="collapseTwentyOne" class="collapsed">
						¿Qué ocurre si presentada la solicitud de subvención he reseñado erróneamente o advierto que he
						omitido algún dato?
					</a>
				</h4>
			</div>
			<div id="collapseTwentyOne" role="tabpanel" aria-labelledby="headingTwentyOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<p class="faqs_text">
						Debes ponerte en contacto con tu asesor a la máxima brevedad, él analizará lo ocurrido y
						procederá a
						su subsanación.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SECCIÓN DE LA LLAMADA -->
<div class="row sectionBlockLayout" style="text-align: left; min-height: 100px; padding: 8px; margin: 0px;">
	<div class="container" style="display: flex; flex-wrap: wrap;">
		<div id="moduloLlamada" class="col-md-12 columnBlockLayout">{% include 'Motivo llamada' %}</div>
	</div>
</div>
<!-- START PLUGINS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/bootstrap.min.js"></script>
<script type="text/javascript" src="~/pwc.js"></script>
<script language="javascript">
	$(document).ready(function () {
		closeAllPanels("#accordion");
	});
</script>
{% include 'ControlNavegador' %}