{% assign idUser = user.id %}
{% assign currentDate = now | date_add_hours: 1 | date: 'yyyy/MM/dd HH:mm'  %}
{% fetchxml solicitudesResultado %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="crcd6_solicitudsub">
    <attribute name="crcd6_solicitud"></attribute>
    <attribute name="crcd6_solicitudsubid"></attribute>
    <attribute name="crcd6_estado"></attribute>
    <attribute name="crcd6_serviciosofertados"></attribute>
    <attribute name="modifiedon"></attribute>
    <attribute name="crcd6_nombreproyecto"></attribute>
    <order attribute="crcd6_solicitud" descending="false"></order>
    <filter type="and">
      <condition attribute="crcd6_contactoid" operator="eq" uitype="contact" value="{{ idUser | xml_escape }}"></condition>
    </filter>
    <link-entity name="crcd6_estado" from="crcd6_estadoid" to="crcd6_estado" link-type="inner" alias="estado">
      <attribute name="crcd6_descripcionportal"></attribute>
      <attribute name="crcd6_codigo"></attribute>
    </link-entity>
    <link-entity name="crcd6_servicioofertado" from="crcd6_servicioofertadoid" to="crcd6_serviciosofertados" link-type="inner" alias="servicio">
      <attribute name="crcd6_descripcion"></attribute>
      <attribute name="crcd6_coste"></attribute>
    </link-entity>
  </entity>
</fetch>
{% endfetchxml %}
{% fetchxml ServicioBuscadorContratado %}  
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="crcd6_solicitudsub">
        <attribute name="crcd6_solicitud"></attribute>
        <attribute name="crcd6_solicitudsubid"></attribute>
        <order attribute="crcd6_solicitud" descending="false"></order>
        <filter type="and">
            <condition attribute="crcd6_fechacontratacionsuscripcionbuscador" operator="on-or-before" value="{{ currentDate }}"></condition>
            <condition attribute="crcd6_fechaexpiracionsuscripcionbuscador" operator="on-or-after" value="{{ currentDate }}"></condition>
        </filter>
        <link-entity name="crcd6_servicioofertado" from="crcd6_servicioofertadoid" to="crcd6_serviciosofertados" link-type="inner" alias="ag">
            <filter type="and">
                <condition attribute="crcd6_codigo" operator="eq" value="522960007"></condition>
            </filter>
        </link-entity>
        <link-entity name="crcd6_cliente" from="crcd6_clienteid" to="crcd6_cliente" link-type="inner" alias="ah">
            <link-entity name="contact" from="contactid" to="crcd6_contactoid" link-type="inner" alias="ai">
                <filter type="and">
                  <condition attribute="contactid" operator="eq" uitype="contact" value="{{ idUser | xml_escape }}"></condition>
                </filter>
            </link-entity>
        </link-entity>
    </entity>
</fetch>
{% endfetchxml %}
<div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: center; min-height: 150px;">
  <div class="container" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column;">
      <p style="text-align: left;"></p>
      <h3 style="text-align: left;"> Mis solicitudes<br></h3>
    </div>
  </div>
</div>
<div id="documentoRepresentante" class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: center; min-height: 150px;">
  <div class="container" style="display: flex; flex-wrap: wrap; border-top:none;">
    <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column;">
      <h5 class="modal-title">¡Ya casi está!</h5>
    </div>
    <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column;">
      <p class="offers__subtitle">
        Necesitamos que nos facilites un documento para verificar que eres el representante legal de la empresa. Haz clic en el botón inferior para adjuntarlo. Si no lo tienes a mano, no te preocupes, podrás facilitárnoslo más tarde.
      </p>
    </div>
    <div class="col-md-2 columnBlockLayout"></div>
    <div class="col-md-8 columnBlockLayout" style="display: flex; flex-direction: column; margin-bottom: 20px;">
      <button type="button" onclick="window.location.href='/adjuntar-documentos-representante/'" class="pwc-btn pwc-btn--primary">
        Adjuntar documentos de representante legal
      </button>
    </div>
    <div class="col-md-2 columnBlockLayout"></div>
  </div>
</div>
{% if ServicioBuscadorContratado.results.entities.size > 0 %}
<div id="buscador" class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: center; min-height: 150px;">
  <div class="container" style="display: flex; flex-wrap: wrap; border-top:none;">
    <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column;">
      <p class="offers__subtitle">
        Recuerda que tienes contratado el servicio anual de buscador de ayudas de PwC. Para acceder, haz click en el siguiente enlace:
      </p>
    </div>
    <div class="col-md-2 columnBlockLayout"></div>
    <div class="col-md-8 columnBlockLayout" style="display: flex; flex-direction: column; margin-bottom: 20px;">
      <button type="button" onclick="MisSolicitudes.ObtenerBuscador(); return false;" class="pwc-btn pwc-btn--primary">
        Buscador de ayudas PwC
      </button>
    </div>
    <div class="col-md-2 columnBlockLayout"></div>
  </div>
</div>
{% endif %}
{% if solicitudesResultado.results.entities.size >= 0 %}
<div class="row sectionBlockLayout" style="text-align: left; min-height: 100px; padding: 8px; margin: 0px;">
  <div class="container" style="display: flex; flex-wrap: wrap; border-top:none;">
    <div class="col-md-12 columnBlockLayout">{% include 'entity_list' key: 'Mis solicitudes presupuestación' %}</div>
  </div>
</div>
{% endif %}
{% if solicitudesResultado.results.entities.size == 0 %}
<style>
  .imagenFondo {
    background-image: url("~/Mis-solicitudes.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
  }
  img {
    opacity: 0.6;
  }
</style>
<div class="row sectionBlockLayout" style="text-align: left; min-height: 100px; padding: 8px; margin: 0px;">
  <div class="container imagenFondo" style="display: flex; flex-wrap: wrap; border-top:none; height: 700px;">
    <div class="col-md-12 columnBlockLayout">
      <br><br>
      <center>
        <h3>¡Bienvenido/a!</h3>
      </center>
      <br><br>
      <p class="offers__subtitle">Ya puedes empezar con el proceso de contratación.</p>
      <p class="offers__subtitle">El primer paso consiste en crear una solicitud mediante un breve cuestionario, para recomendarte el servicio adecuado según tus necesidades y ofrecerte un presupuesto ajustado.</p>
      <p class="offers__subtitle">Haz clic en el botón "Crear" y te iremos guiando durante el proceso. Esto no te llevará más de 5 minutos.</p>
      <br><br>
      <center>
        <button onclick="window.location.href='/creacion-solicitud-presupuestacion/'" class="pwc-btn pwc-btn--primary"><span class="pwc-btn_label">Crear</span></button>
      </center>
      <br>
    </div>
  </div>
</div>
{% endif %}
<script type="text/javascript" src="~/portalApi.js"></script>
<script language="javascript">
  $(document).ready(function () {
    $(".breadcrumb").remove();
    $("div.page-header").remove();
    $("div.xrm-editable-html.xrm-attribute.no-value.page-copy").remove();
    MisSolicitudes.MostrarDocumentosRepresentante("{{ idUser }}");
    $(".entitylist.entity-grid").on("loaded", function () {
      MisSolicitudes.EventosOnload();
    });
  });
  const MisSolicitudes = {
    EventosOnload: function (contactoId) {
      MisSolicitudes.OcultarColumnaEstado();
    },
    MostrarDocumentosRepresentante: function(contactoId) {
      let respuesta =
        MisSolicitudes.ConsultarDocumentosAdjuntosRepresentante(contactoId);

      if (respuesta.length > 0) {
        $("#documentoRepresentante").hide();
        return true;
      } else {
        $("#documentoRepresentante").show();
        return false;
      }
    },
    ConsultarDocumentosAdjuntosRepresentante: function (contactoId) {
      const idContacto = contactoId;
      let resultado = [];
      $.ajax({
        method: "GET",
        dataType: "json",
        async: false,
        url: "/consulta-adjunto-documentos-representante?idContacto=" + idContacto,
      }).done(function (data) {
        resultado = data.results;
      });

      return resultado;
    },
    OcultarColumnaEstado: function() {
      let lineas = document.getElementsByTagName("table")[0].rows;
      for (let i = 0; i < lineas.length; i++) {
        let lineaActual = lineas[i];
        let celdaEstado = lineaActual.cells[1].innerHTML;
        let celdaServicio = lineaActual.cells[3].innerHTML;
        if (celdaEstado == "Solicitud en evaluación - Elaboración del presupuesto" || celdaEstado == "Cliente en evaluación") {
            lineaActual.cells[3].innerHTML = "En evaluación";
        }
      }
    },
    ObtenerBuscador: function(contactoId){
      debugger;
        let resultado = PortalApi.Api("AccionSesionFandit", {
								"contactId": "{{ idUser }}",
								"Random": Math.random()
							}, ["crcd6_respuesta"], "AccionSesionFandit");

        resultado = resultado && resultado[0] && resultado[0].crcd6_respuesta ? JSON.parse(resultado[0].crcd6_respuesta) : null;
        
        if(resultado.ErrorCode === 0){
          window.open(resultado.UrlFandit, '_blank');
        }
    },
  }
</script>