<div class="go-to-call">
	<button id="idLlamada" type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-callme-primary">
		<a href="#" title="Ayuda">
			<i class="glyphicon glyphicon-earphone"></i>
			<span class="sr-only">Llámanos</span>
		</a>
	</button>
</div>
<div id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" class="modal fade">
	<div role="document" class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3 id="exampleModalCenterTitle" class="modal-title">¿Necesitas ayuda?</h3>
				<button id="idLlamada" type="button" data-dismiss="modal" aria-label="Close" class="close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				{% include 'Llamada telefonica' %}
			</div>
		</div>
	</div>
</div>
  
<script language="javascript">
  $(document).ready(function () {
    $(".breadcrumb").remove();
    $("div.page-header").remove();
    $("div.xrm-editable-html.xrm-attribute.no-value.page-copy").remove();
    FormularioRepresentante.EventosOnload();
  });

  if (window.jQuery) {
    (function ($) {
      if (typeof webFormClientValidate != "undefined") {
        var originalValidationFunction = webFormClientValidate;
        if (
          originalValidationFunction &&
          typeof originalValidationFunction == "function"
        ) {
          webFormClientValidate = function () {
            valorPoliticaPrivacidad = $("#crcd6_politicaprivacidad")
              .find(":radio:checked")
              .first()
              .attr("value");

            if (valorPoliticaPrivacidad) {
              return true;
            } else {
              return false;
            }
          };
        }
      }
    })(window.jQuery);
  }

  const FormularioRepresentante = {
    EventosOnload: function () {
      FormularioRepresentante.CambiarEtiquetaBoton();
      FormularioRepresentante.DeshabilitarBoton();
      FormularioRepresentante.MensajeAyuda();
      FormularioRepresentante.RemoverSeccion();
      FormularioRepresentante.AsignarNombreCompletoCesionDatos();
      FormularioRepresentante.ConvertirPoliticasPrivacidadAEnlace();
      FormularioRepresentante.EventosOnClick();
    },
    CambiarEtiquetaBoton: function(){
        $("#ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton").attr('value', 'Siguiente');
    },
    RemoverSeccion: function () {
        $('.tab clearfix').remove();
        $('#NextButton').remove();
    },
    EventosOnClick: function () {
      $("#crcd6_politicaprivacidad").change(function () {
        FormularioRepresentante.DatosCorrectos();
      });
    },
    ValidacionPoliticaPrivacidad: function () {
      politicaValida = false;
      valorPoliticaPrivacidad = $("#crcd6_politicaprivacidad")
        .find(":radio:checked")
        .first()
        .attr("value");

      if (valorPoliticaPrivacidad === "0") {
        politicaValida = false;
      } else {
        politicaValida = true;
      }
      return politicaValida;
    },
    ValidacionCesionDatos: function () {
      cesionValida = false;
      valorCesionDatos = $("#crcd6_autorizarcesiondatos")
        .find(":radio:checked")
        .first()
        .attr("value");

      if (valorCesionDatos === "0") {
        cesionValida = false;
      } else {
        cesionValida = true;
      }
      return cesionValida;
    },
    HabilitarBoton: function () {
      $(':input[id="ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton"]').prop("disabled", false);
    },
    DeshabilitarBoton: function () {
      $(':input[id="ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton"]').prop("disabled", true);
    },
    DeshabilitarCampo: function(id){
        $(id).prop("disabled", true);
    },
    MensajeAyuda: function () {
      $('#EntityFormControl').after('<div id="mensajeAyuda" class="alert alert-info" role="alert">Necesitamos que completes tus datos como representante legal o apoderado de la empresa. Recuerda leer y aceptar las políticas de privacidad para continuar con el proceso.</div>'); 
    },
    ConvertirPoliticasPrivacidadAEnlace: function () {
      $("#crcd6_politicaprivacidad_label").wrapInner(
        '<a href="~/condiciones-uso" target="_blank"></a>'
      );
    },
    AsignarNombreCompletoCesionDatos: function () {
      $("#crcd6_autorizarcesindatosautonomo_label").text("Soy profesional liberal/autónomo y autorizo a PwC a la cesión de mis datos personales a Banca March, S.A. con CIF A07004021 con el fin de que pueda realizar acciones comerciales de productos o servicios financieros vinculados a la obtención de las subvenciones de fondos públicos.").val();
      $("#crcd6_politicaprivacidad_label").text("He leído la política de privacidad y acepto las condiciones de uso, confidencialidad y protección de datos");
      $("#crcd6_autorizarcesiondatos_label").text("Soy profesional y autorizo a PwC la cesión de mis datos personales a Banca March, S.A. con CIF A07004021, con el fin de que el Banco pueda realizar un seguimiento de mi solicitud realizada a través de esta plataforma en relación con las subvenciones de fondos públicos.").val();
    },
    DatosCorrectos: function () {
      let politicaValida = FormularioRepresentante.ValidacionPoliticaPrivacidad();
      let cesionValida = FormularioRepresentante.ValidacionCesionDatos();

      if (politicaValida) {
        FormularioRepresentante.HabilitarBoton();
      } else {
        FormularioRepresentante.DeshabilitarBoton();
      }
    },
    EliminarDivError: function (idDiv) {
      $(idDiv).remove();
    },
  }; 
</script>
{% include 'ControlNavegador' %}